.background-green {
  background-image: url('https://res.cloudinary.com/dukjzo7tf/image/upload/v1625378936/tea-shop/wallpaper/wallpaper-green.png');
  background-size: cover;
  background-position: center;
  color: white;
}

.background-rooibos {
  background-image: url('https://res.cloudinary.com/dukjzo7tf/image/upload/v1625380947/tea-shop/wallpaper/wallpaper-rooibos.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}

.background-herbal {
  background-image: url('https://res.cloudinary.com/dukjzo7tf/image/upload/v1625380947/tea-shop/wallpaper/wallpaper-herbal.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}
