.sign-form {
  display: flex;
  flex-direction: column;
  color: #111111;
  padding: 1em 2em;
}

.form-label {
  display: flex;
  flex-direction: column;
}

.form-input {
  font-size: 1rem;
  margin: 0.2em 0;
}

.form-input:focus {
  outline: 2px dotted var(--color-blue);
}

.form-btn {
  font-size: 1.2rem;
  background: #27a744;
  color: #fff;
  padding: 0.3em 0.4em;
  outline: 0;
  border: 0;
  border-radius: 4px;
  width: fit-content;
  transition: all 0.2s;
}

.form-btn:hover {
  background-color: #19a030;
}
