.number {
  font-family: monospace;
}

.cart__header {
  display: flex;
  margin: 1em 0.5em;
}

.cart__list {
  table-layout: fixed;
}

.amount-btn {
  margin: 0 0.1em;
  border: 0;
  outline: 0;
  background-color: transparent;
}
