.product-info {
  margin: 2em;
  h3 {
    text-transform: uppercase;
  }
}

.howto {
  display: flex;
  justify-content: space-between;
  margin: 2em;
  h3,
  p,
  img {
    margin: 0 0.2em;
  }
}

@media only screen and (max-width: 800px) {
  .howto {
    flex-direction: column;
    img {
      display: none;
    }
  }
}
