.purchase {
  height: 100vh;
  font-size: 3rem;
  background-image: url('https://res.cloudinary.com/dukjzo7tf/image/upload/v1625311075/tea-shop/wallpaper/wallpaper-home.jpg');
  background-size: cover;
  p {
    line-height: 100vh;
    text-align: center;
    color: white;
  }
}
